= render 'navbar'
%large-8.columns
  %h1 My blog


  - @posts.each do |post|
    .post-preview
      %h2= link_to(post.title, post)

      %p= post.body.truncate(75)

.button= link_to 'New', new_post_path